<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" strict="true">
    <properties>
        <property name="log" >log/rallye.log</property>
        <property name="debugLog" >log/debug.log</property>
    </properties>
    <filter type="ThresholdFilter" level="trace"/>

    <appenders>
        <appender type="Console" name="STDOUT">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method -  %msg%n%throwable{full}" />
        </appender>
        
        <appender type="RollingRandomAccessFile" name="LogFile" fileName="${log}" filePattern="log/rallye %d{dd-MMM-yy, HH-mm-ss}.log">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method - %msg%n%throwable{10}" />
			<policies>
				<OnStartupTriggeringPolicy />
			</policies>
			<strategy type="DefaultRolloverStrategy" max="5" />
        </appender>
        
        <appender type="RollingRandomAccessFile" name="DebugLogFile" fileName="${debugLog}" filePattern="log/debug %d{dd-MMM-yy, HH-mm-ss}.log">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method - %msg%n%throwable{10}" />
			<policies>
				<OnStartupTriggeringPolicy />
			</policies>
			<strategy type="DefaultRolloverStrategy" max="5" />
        </appender>
        
    </appenders>

    <loggers>
        
        <logger name ="de.rallye" level="trace" additivity="false" > 
        	<appender-ref ref="STDOUT" />
        	<appender-ref ref="LogFile" level="warn" />
            <appender-ref ref="DebugLogFile" level="trace" />
        </logger>
        
        <root level="trace" >


            
        </root>
    </loggers>

</configuration>