<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>iST Ophase 2014</title>
</head>
<body>
<h1>iST Ophase 2014</h1>
<img src="/qrcode/timetable/{{groupsCode}}"  width="695" height="495" alt="Dein Stundenplan" />
<br>
<a href="/qrcode/timetable/{{groupsCode}}.ics">Deinen Persönlichen Stundenplan herunterladen</a>
<br>
Sorgentelefon: <a href="tel:015216039203">0152-16039203</a>


</body>
</html>