<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>iST Ophase 2014</title>
</head>
<body>
<h1>iST Ophase 2014</h1>
<object data="/qrcode/timetable/{{groupcode}}" type="image/svg+xml">
</object>

Helpdesk anrufen
{{test}}


</body>
</html>