<?xml version="1.0" encoding="UTF-8"?>
<configuration status="all" strict="true" >
    <properties>
        <property name="log" >log/rallye.log</property>
        <property name="debugLog" >log/debug.log</property>
    </properties>
    <filter type="ThresholdFilter" level="trace"/>

    <appenders>
        <appender type="Console" name="STDOUT">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method -  %msg%n%throwable{full}" />
        </appender>
        
        <appender type="File" name="LogFile" fileName="${log}">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n%throwable{10}" />
        </appender>
        
        <appender type="File" name="DebugLogFile" fileName="${debugLog}">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n%throwable{10}" />
        </appender>
        
         <appender type="List" name="List">
		</appender>
        
        <!--<Console name="ConsoleException" target="System_OUT"> 
        	<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method -  %xEx{full}%n" />
        </Console>
        
        <File name="LogFile" fileName="${log}">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        
        <File name="DebugLogFile" fileName="${debugLog}">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>-->
        
    </appenders>

    <loggers>
        
        <logger name ="de.rallye" level="trace" additivity="false" > 
        	<appender-ref ref="STDOUT" />
        	<appender-ref ref="LogFile" level="warn" />
            <appender-ref ref="DebugLogFile" level="info" />
        </logger>
        
        <root level="trace" >

            <appender-ref ref="List" />
            
        </root>
    </loggers>

</configuration>