<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" >
    <properties>
        <property name="log" >log/rallye.log</property>
        <property name="debugLog" >log/debug.log</property>
        <property name="logiohost">localhost</property>
    </properties>
    <filter type="ThresholdFilter" level="trace"/>

    <appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="hello %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method -  %msg%n%throwable{full}" />
        </Console>
        
        <File name="LogFile" fileName="${log}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method - %msg%n%throwable{10}" />
        </File>
        
        <File name="DebugLogFile" fileName="${debugLog}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method - %msg%n%throwable{10}" />
        </File>
        
          
         <!--  <appender name="sc" class="de.rallye.admin.ServerConsoleAppender">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method - %msg%n%throwable{10}" />-->
            <Socket name="sc" protocol="TCP" host="${logiohost}" port="28777">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method - %msg%n%throwable{10}%n">
                <Replace regex="[^\r\n]*\r\n" replacement="+log|Debug Log|Server|trace|$0"  />
            </PatternLayout>
		</Socket>
        <!--<Console name="ConsoleException" target="System_OUT"> 
        	<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}.%method -  %xEx{full}%n" />
        </Console>
        
        <File name="LogFile" fileName="${log}">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        
        <File name="DebugLogFile" fileName="${debugLog}">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>-->
        
    </appenders>

    <loggers>
        
        <logger name ="de.rallye" level="trace" additivity="false" > 
        	<appender-ref ref="STDOUT" />
        	<appender-ref ref="sc" />
        	<appender-ref ref="LogFile" level="warn" />
            <appender-ref ref="DebugLogFile" level="trace" />
        </logger>
        
        <root level="trace" >

            
        </root>
    </loggers>

</configuration>
